{:paths ["src/core" "resources"]
 :deps
 {
  ;;
  seancorfield/clj-new {:mvn/version "1.1.216"}


  ;;
  ajchemist/tools.github.alpha {:git/url "https://github.com/ajchemist/tools.github.alpha"
  me.raynes/conch              {:mvn/version "0.8.0"}
  org.clojure/tools.cli        {:mvn/version "1.0.194"}
                                :sha     "12afb72903e87451f13f5ddb7fc566a8a4e194ec"}


  ;; user.tools.deps.util.shell
  user.tools.deps.alpha/user.tools.deps.alpha {:mvn/version "2020.105.15542"}
  }


 :aliases
 {:test
  {:extra-paths ["src/test"]}


  :test-runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
   :main-opts  ["-m" "cognitect.test-runner"
                "-d" "src/test"]}}}
